APP_NAME="Gestion Paie - HMCK"
APP_ENV=production
APP_DEBUG=false
APP_URL=https://hopital-paie-backend.onrender.com

DB_CONNECTION=pgsql
DB_HOST=<votre_host_postgres>
DB_PORT=5432
DB_DATABASE=paie_hopital
DB_USERNAME=<votre_utilisateur>
DB_PASSWORD=<votre_mot_de_passe>

SANCTUM_STATEFUL_DOMAINS=hopital-paie.vercel.app
SESSION_DRIVER=cookie
CORS_ALLOWED_ORIGINS=https://hopital-paie.vercel.app

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=<email>
MAIL_PASSWORD=<password>
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=noreply@hmckokolo.cd
MAIL_FROM_NAME="${APP_NAME}"
